.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--orange);
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: white;
  padding: 20px;
  width: 800px;
  height: 550px;
  background-color: var(--blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.login-container img {
  object-fit: cover;
  max-height: calc(100% - 100px);
  max-width: calc(100% - 100px);
  align-self: center;
  justify-self: center;
}

.login-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container > form > h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

.login-container form p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.login-container form > p > a {
  color: white;
  font-weight: bold;
}

.login-container > form > input {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  width: 80%;
}

.login-container > form > h5 {
  font-weight: bold;
  font-size: 1rem;
}

.login-container > form > button {
  background-color: var(--red);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-container > form > button:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .login {
    background-color: var(--blue);
  }

  .login-container {
    box-shadow: none;
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: auto;
  }

  .login-container img {
    display: none;
  }

  .login-container > form {
    margin-bottom: 100px;
  }

  .login-container > form > input {
    width: 100%;
  }
}